<aside>
  <ul class="floor">
    <li>1F</li>
    <li>2F</li>
    <li>室外</li>
    <li>室外</li>
    <!-- <li *ngFor="let item of floorArray;let i=index" [class.active]="selected[i]" (click)="onClick(i)">{{item.name}}</li> -->
  </ul>
  <hr>
  <ul class="menu">
    <li>
      <i class="icon-calc"></i>
      <p>收銀作業</p>
    </li>
    <li>
      <i class="icon-doc-text"></i>
      <p>會計作業</p>
    </li>
    <li>
      <i class="icon-align-justify"></i>
      <p>設定</p>
    </li>
  </ul>
  <button class="power-btn"> <i class="icon-off"></i></button>
</aside>
<main>
  <p class="breadcrumb">
    <span>使用者名稱</span>
    <span>日結</span>
    <i>></i>
    <span>銷售紀錄</span>
  </p>
  <nav class="nav">
    <a>營業日報表</a>
    <a class="active">銷售紀錄</a>
    <a>刪單紀錄</a>
  </nav>
  <div class="content">
    <div class="box-left">
      <p>
        <span>搜尋時間</span>
      </p>
      <div>
        <input type="date">
        <input type="date">
      </div>
      <button>查詢結果有<span>20</span>筆記錄</button>
      <p class="title">門市收支列表</p>
      <table class="display-table">
        <tr>
          <td>01.</td>
          <td>2016-12-01</td>
          <td>11:30:03</td>
        </tr>
        <tr>
          <td>01.</td>
          <td>2016-12-01</td>
          <td>11:30:03</td>
        </tr>
        <tr>
          <td>01.</td>
          <td>2016-12-01</td>
          <td>11:30:03</td>
        </tr>
        <tr>
          <td>01.</td>
          <td>2016-12-01</td>
          <td>11:30:03</td>
        </tr>
        <tr>
          <td>01.</td>
          <td>2016-12-01</td>
          <td>11:30:03</td>
        </tr>
        <tr>
          <td>01.</td>
          <td>2016-12-01</td>
          <td>11:30:03</td>
        </tr>
        <tr>
          <td>01.</td>
          <td>2016-12-01</td>
          <td>11:30:03</td>
        </tr>
        <tr>
          <td>01.</td>
          <td>2016-12-01</td>
          <td>11:30:03</td>
        </tr>
      </table>
    </div>
    <div class="box-right">
      <div>
        <p>詳細資訊</p>
        <p class="red-btn">另開編輯</p>
        <p class="orange-btn">退單</p>
      </div>
      <table class="order-table">
        <tr>
          <td>修改人</td>
          <td>:</td>
          <td>王小明</td>
        </tr>
        <tr>
          <td>桌號</td>
          <td>:</td>
          <td>外帶</td>
        </tr>
        <tr>
          <td>價格</td>
          <td>:</td>
          <td>NT6539</td>
        </tr>
        <tr>
          <td>時間</td>
          <td>:</td>
          <td>2016-12-01-12:30</td>
        </tr>
        <tr>
          <td>狀態</td>
          <td>:</td>
          <td>編輯過</td>
        </tr>
      </table>
      <table class="display-table">
        <tr>
          <th>商品名稱</th>
          <th>數量</th>
          <th>價格</th>
        </tr>
        <tr>
          <td>羅勒風味海瓜子蛤蜊炒蝦仁意麵腸..</td>
          <td>×10</td>
          <td>NT.140000</td>
        </tr>
        <tr>
          <td>羅勒風味海瓜子蛤蜊炒蝦仁意麵腸..</td>
          <td>×10</td>
          <td>NT.140000</td>
        </tr>
        <tr>
          <td>羅勒風味海瓜子蛤蜊炒蝦仁意麵腸..</td>
          <td>×10</td>
          <td>NT.140000</td>
        </tr>
        <tr>
          <td>羅勒風味海瓜子蛤蜊炒蝦仁意麵腸..</td>
          <td>×10</td>
          <td>NT.140000</td>
        </tr>
        <tr>
          <td>羅勒風味海瓜子蛤蜊炒蝦仁意麵腸..</td>
          <td>×10</td>
          <td>NT.140000</td>
        </tr>
        <tr>
          <td>羅勒風味海瓜子蛤蜊炒蝦仁意麵腸..</td>
          <td>×10</td>
          <td>NT.140000</td>
        </tr>
        <tr>
          <td>羅勒風味海瓜子蛤蜊炒蝦仁意麵腸..</td>
          <td>×10</td>
          <td>NT.140000</td>
        </tr>
        <tr>
          <td>羅勒風味海瓜子蛤蜊炒蝦仁意麵腸..</td>
          <td>×10</td>
          <td>NT.140000</td>
        </tr>
      </table>
    </div>
  </div>
</main>
