:host {
  display: flex;

}

aside {

  width: 99px;
  height: 768px;
  outline: 1px solid pink;
  background: #262626;
  color: #ffffff;
  text-align: center;
}

.floor {
  height: 409px;
  padding: 34px 0;
  overflow: scroll;
  font-size: 30px;
  letter-spacing: 3px;

  li {
    height: 60px;
    line-height: 60px;
    margin: 0 0 34px 0;
    // outline: 1px solid pink;

    &.active {
      color: #f7d29c;
    }
  }
}

.menu {
  height: 310+px;
  padding: 22px 0 0 0;
  font-size: 16px;
  letter-spacing: 2px;

  li {
    height: 56px;
    margin: 0 0 48px 0;
    // outline: 1px solid pink;

    i {
      display: inline-block;
      width: 30px;
      height: 29px;
      font-size: 30px;
      position: relative;
      right: 5px;
      margin: 0 0 10px 0;
      // outline: 1px solid red;
    }

  }
}

.power-btn {
  width: 99px;
  height: 47px;
  font-size: 23px;
  color: #fff;
  background: #f24141;
}

main {
  width: 925px;
  width: calc(100vw - 99px);

}

.breadcrumb {
  height: 39px;
  line-height: 39px;
  text-align: right;
  background: #262626;

  i {
    margin: 0 45px;
    position: relative;
    top: 2px;
    color: #e23f3f;

    &::before {
      transform: rotate(270deg);
    }
  }

  span {
    color: #b2b2b2;

    &:nth-last-child(1) {
      color: #fff;
      margin: 0 64px 0 0;
    }
  }
}

.nav {
  height: 72px;
  padding: 14px 28px;
  box-shadow: 0 0 13px #aeaeae;
  // line-height: 45px;
  // outline: 1px solid pink;

  a {
    display: inline-block;
    width: 120px;
    height: 45px;
    text-align: center;
    font-size: 14px;
    margin: 0 21px;
    padding: 15px 10px 0 0;
    text-decoration: none;
    border: 2px solid #d8d8d8;
    border-radius: 5px;
    color: #f5933f;
    // outline: 1px solid pink;

    &:nth-child(1) {
      width: 135px;
    }

    &.active {
      color: #f24141;
    }
  }

}


form {
  width: 550px;
  height: calc(100vh - 72px - 39px);
  padding: 35px 29px;
  margin: 0 auto;
  border-left: 1px solid #aeaeae;
  border-right: 1px solid #aeaeae;

  ul {
    label {
      width: 104px;
      height: 25px;
      display: inline-block;
      text-align: justify;
      overflow: hidden;

      // outline: 1px solid red;

      &:after {
        content: '';
        display: inline-block;
        width: 100%;
      }
    }

    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 0 35px 0;
      font-size: 24px;
      letter-spacing: 2px;
      color: #262626;
      // outline: 1px solid pink;
    }
  }
}

#date {
  margin: 0 45px 0 0;
}
