aside {
  width: 99px;
  height: 768px;
  outline: 1px solid pink;
  background: #262626;
  color: #ffffff;
  text-align: center;
}

.floor {
  height: 409px;
  padding: 34px 0;
  overflow: scroll;
  font-size: 30px;
  letter-spacing: 3px;

  li {
    height: 60px;
    line-height: 60px;
    margin: 0 0 34px 0;
    outline: 1px solid pink;

    &.active {
      color: #f7d29c;
    }
  }
}

.menu {
  height: 310+px;
  font-size: 16px;
  letter-spacing: 2px;
}

.power-btn {
  width: 99px;
  height: 47px;
  background: #f24141;
}
