aside {
  width: 99px;
  height: 768px;
  outline: 1px solid pink;
  background: #262626;
}

.font {
  font-size: 30px;
  letter-spacing: 3px;
  color: #ffffff;

}

.font2 {
  font-size: 16px;
  letter-spacing: 2px;
  color: #fff;
}
